<div class="jumbotron pb-4 text-center">
  <img src="../../../assets/img/maltem-logo.png" width="400px" height="100px" />
  <h1 class="display-4">
    <span class="font-weight-bold">Movie library</span>
  </h1>
  <hr class="my-4" />
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <a class="btn btn-block btn-outline-primary btn-sm" routerLink="/movies">
        Go to movie list
      </a>
      <hr class="my-4" />
    </div>
  </div>

  <div class="panel ">
    <div class="panel-body text-left">
      <p>This simple application provides the following features</p>
      <ul>
        <li>
          Display list of movies in grid.
        </li>
        <li>
          Add/update/delete a movie.
        </li>
        <li>
          Modifications in the movies.json file.
        </li>
        <li>
          Display the list of films of a Director (on Hover).
        </li>
        <li>
          Search and sort movies by title, director, release date, type.
        </li>
        <li>
          Responsive layout.
        </li>
      </ul>
    </div>
  </div>
</div>
